<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hw.ssmtest1.mapper.AdminsMapper">

    <resultMap id="BaseResultMap" type="cn.hw.ssmtest1.entity.Admins">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,pwd
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from admins
        where  id = #{id,jdbcType=INTEGER} 
    </select>
    <select id="getAdminsByUsernameAndPwd" resultMap="BaseResultMap">
        select * from admins where username = #{username} and pwd = #{password}
    </select>

    <select id="selectByKeyword" resultMap="BaseResultMap">
        select * from admins
        <where>
            <if test="keyword != null and keyword != ''">
                and username like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>
    <select id="selectByUsername" resultMap="BaseResultMap">
        select * from admins where username = #{username}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from admins
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.hw.ssmtest1.entity.Admins" useGeneratedKeys="true">
        insert into admins
        ( id,username,pwd
        )
        values (#{id,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{pwd,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.hw.ssmtest1.entity.Admins" useGeneratedKeys="true">
        insert into admins
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="username != null">username,</if>
                <if test="pwd != null">pwd,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null"> #{id,jdbcType=INTEGER},</if>
                <if test="username != null"> #{username,jdbcType=VARCHAR},</if>
                <if test="pwd != null"> #{pwd,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.hw.ssmtest1.entity.Admins">
        update admins
        <set>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="pwd != null">
                    pwd = #{pwd,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.hw.ssmtest1.entity.Admins">
        update admins
        set 
            username =  #{username,jdbcType=VARCHAR},
            pwd =  #{pwd,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
